/* Binh Do-Cao CSCE 315-904 Fall 2022 Project 1 Style Sheet #1 */


html, body{
    background-image: url("wallpaper.jpeg");
    height: 100%;
    padding-bottom:100%;
    background-repeat: no-repeat;
    background-size:cover;
    overflow:hidden;
}

.container {
    position:absolute;
    left:50%;
    top:40%;
    white-space: nowrap;
}

.container img{
    display:block;
    border-radius: 50%;
}

.toptext{
    position: absolute;
    top: 10%;
    left:50%;
}
  
.center {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body,p,h1,.siteFont{
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.siteFont{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;   
}

.logo {
    content:url("applelogo.png");
    width: 24px;
    height:24px;
}

.navigation li{
    float:left;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li a:hover{
    background-color: rgba(140, 135, 135, 0.5);
}
.navigation{
    float: none;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

.topbar{
    z-index: 10;
    background-color:rgba(140, 135, 135, 0.5);
    position:absolute;
    top:0px;
    right:0px;
    left:0px;
    color:white;
}

.topbar .topbar-left a:link{
    color:white;
}

.topbar-right{
    position:absolute;
    top:3px;
    right:10px;
}

.topbar-left{
    color:white;
    float:left;
}

.login{
    background-color: rgba(140, 135, 135, 0.5);
    position:fixed;
    border-radius: 10px;
    width:35%;
    bottom:34%;
    right:32%;
}

.service{
    border-radius:8px;
}

.leftpic{
    text-align: left;
    position:absolute;
    top:15%;
    height:10%;
}

.rightpic{
    position:absolute;
    top:15%;
    left:20%;
}

.resume{
    position:absolute;
    top:15%;
    height:100%;
    width:100%;
    right:25%;
}

.servicetext{
    background-color: rgba(140, 135, 135, 0.5);
    position:absolute;
    width:50%;
    top:15%;
    right:10%;
}

.technicalskills{
    background-color: rgba(140, 135, 135, 0.5);
    position:absolute;
    width:20%;
    top:55%;
    right:25%;  
}

.areaofinterest{
    background-color: rgba(140, 135, 135, 0.5);
    position:absolute;
    width:40%;
    top:15%;
    right:15%;  
}

.technicalskills bl{
    text-align: center;
}

.project{
    background-color: rgba(140, 135, 135, 0.5);
    display: table;
    position:absolute;

    width:50%;
    top:15%;
    left:25%;
}

.navigation .active{
    text-decoration: underline;
}

